:root {
    --cor-principal: #FFC6AC;
    --cor-secundaria: #ADC4CE;
    --cor-terciaria: #F1F0E8;
}

.categorias {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categorias__titulo {
    background: var(--cor-principal);
    border: 2px solid var(--cor-secundaria);
    box-shadow: 2px 2px 5px var(--cor-secundaria);
    font-weight: 700;
    font-size: 1.2rem;
    height: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    width: 100vw;
}

.categorias__lista {
    display: flex;
    flex-direction: row;
}

.categorias__botao {
    border: 2px solid var(--cor-secundaria);
    border-radius: 2rem;
    margin: .4rem;
    padding: 0.5rem 1rem;
    background: var(--cor-principal);
}

.categorias__item {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.categorias__icone {
    margin-right: 0.5rem;
}

.categorias__titulo-desk {
    display: none;
}

@media screen and (min-width: 900px) {

    .categorias__titulo {
        display: none;
    }

    .categorias__titulo-desk {
        display: block;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .categorias {
        margin: 0.5rem 0;
    }

    .categorias__lista {
        align-items: center;
    }

    .categorias__sec {
        background: var(--cor-secundaria);
        width: 100vw;
        max-width: 100%;
    }

    .categorias__lista {
        justify-content: space-evenly;
    }

    .categorias__botao {
        border: 1px solid var(--cor-terciaria);
        box-shadow: 2px 2px 2px var(--cor-terciaria);
    }
}

